In [106]:
import requests
import pandas as pd
import numpy as np
import json

In [191]:
response = requests.get("http://lookup-service-prod.mlb.com/json/named.team_all_season.bam?sport_code='mlb'&all_star_sw='N'&sort_order=name_asc&season='2019'")

In [192]:
j = response.json()

In [193]:
rows = j['team_all_season']['queryResults']['row']

In [194]:
rows[1]

{'phone_number': '',
 'venue_name': 'SunTrust Park',
 'franchise_code': 'BS1',
 'all_star_sw': 'N',
 'sport_code': 'mlb',
 'address_city': 'Atlanta',
 'city': 'Atlanta',
 'name_display_full': 'Atlanta Braves',
 'spring_league_abbrev': 'GL',
 'time_zone_alt': 'America/New_York',
 'sport_id': '1',
 'venue_id': '4705',
 'mlb_org_id': '144',
 'time_zone_generic': 'ET',
 'mlb_org': 'Atlanta Braves',
 'last_year_of_play': '2021',
 'league_full': 'National League',
 'home_opener_time': '7:10:00 PM',
 'address_province': '',
 'league_id': '104',
 'name_abbrev': 'ATL',
 'bis_team_code': 'ATL',
 'league': 'NL',
 'spring_league': 'GL',
 'base_url': 'braves.mlb.com',
 'address_zip': '30339',
 'sport_code_display': 'Major League Baseball',
 'mlb_org_short': 'Atlanta',
 'time_zone': 'ET',
 'address_line1': '755 Battery Avenue',
 'mlb_org_brief': 'Braves',
 'address_line2': '',
 'season': '2019',
 'address_line3': '',
 'division_abbrev': 'NLE',
 'name_display_short': 'Atlanta',
 'team_id': '144',
 'active_sw': 'Y',
 'address_intl': 'N',
 'state': 'GA',
 'address_country': 'USA',
 'mlb_org_abbrev': 'ATL',
 'division': 'E',
 'team_code': 'atl',
 'name': 'Braves',
 'website_url': 'braves.com',
 'sport_code_name': 'MLB',
 'first_year_of_play': '1871',
 'league_abbrev': 'NL',
 'name_display_long': 'Atlanta Braves',
 'store_url': 'atlanta.braves.mlb.com',
 'time_zone_text': 'EST',
 'name_short': 'Atlanta',
 'home_opener': '2019-04-01T00:00:00',
 'address_state': 'GA',
 'division_full': 'National League East',
 'time_zone_num': '-5',
 'spring_league_full': 'Grapefruit League',
 'address': '755 Battery Avenue&#xa;Atlanta, GA&#x9;30339',
 'name_display_brief': 'Braves',
 'file_code': 'atl',
 'division_id': '204',
 'spring_league_id': '115',
 'venue_short': 'SunTrust Park'}

In [195]:
df = pd.DataFrame(rows)

In [196]:
df.head()

,phone_number,venue_name,franchise_code,all_star_sw,sport_code,address_city,city,name_display_full,spring_league_abbrev,time_zone_alt,...,address_state,division_full,time_zone_num,spring_league_full,address,name_display_brief,file_code,division_id,spring_league_id,venue_short
0,(602) 462-6500,Chase Field,ARI,N,mlb,Phoenix,Phoenix,Arizona Diamondbacks,CL,America/Phoenix,...,AZ,National League West,-7,Cactus League,"401 East Jefferson Street&#xa;Phoenix, AZ&#x9;...",D-backs,ari,203,114,Chase Field
1,,SunTrust Park,BS1,N,mlb,Atlanta,Atlanta,Atlanta Braves,GL,America/New_York,...,GA,National League East,-5,Grapefruit League,"755 Battery Avenue&#xa;Atlanta, GA&#x9;30339",Braves,atl,204,115,SunTrust Park
2,(410) 685-9800,Oriole Park at Camden Yards,MLA,N,mlb,Baltimore,Baltimore,Baltimore Orioles,GL,America/New_York,...,MD,American League East,-5,Grapefruit League,"333 West Camden Street&#xa;Baltimore, MD&#x9;2...",Orioles,bal,201,115,Oriole Park
3,(617) 267-9440,Fenway Park,BOS,N,mlb,Boston,Boston,Boston Red Sox,GL,America/New_York,...,MA,American League East,-5,Grapefruit League,"4 Yawkey Way&#xa;Boston, MA&#x9;2215",Red Sox,bos,201,115,Fenway Park
4,(773) 404-2827,Wrigley Field,CH2,N,mlb,Chicago,Chicago,Chicago Cubs,CL,America/Chicago,...,IL,National League Central,-6,Cactus League,"1060 West Addison&#xa;Chicago, IL&#x9;60613-4397",Cubs,chc,205,114,Wrigley Field

In [197]:
df.to_excel("teams_2019.xlsx", index=False)

In [198]:
team_ids = df['team_id'].to_list()

In [25]:
all_players = []
for team in team_ids:
    response = requests.get(f"http://lookup-service-prod.mlb.com//json/named.roster_40.bam?team_id={team}")
    j = response.json()
    rows = j['roster_40']['queryResults']['row']
    for row in rows:
        all_players.append(row)

In [27]:
players = pd.DataFrame(all_players)

In [28]:
players

,position_txt,weight,name_display_first_last,college,height_inches,starter_sw,jersey_number,end_date,name_first,bats,...,team_abbrev,throws,team_name,name_display_last_first,name_use,player_id,name_last,team_id,start_date,name_full
0,SS,200,Nick Ahmed,Connecticut,2,N,13,,Nicholas,R,...,ARI,R,Arizona Diamondbacks,"Ahmed, Nick",Nick,605113,Ahmed,109,2014-06-29T00:00:00,"Ahmed, Nick"
1,P,245,Jeremy Beasley,Clemson,3,N,59,,Jeremy,R,...,ARI,R,Arizona Diamondbacks,"Beasley, Jeremy",Jeremy,676886,Beasley,109,2020-08-10T00:00:00,"Beasley, Jeremy"
2,P,215,Travis Bergen,Kennesaw State,1,N,47,,Travis,L,...,ARI,L,Arizona Diamondbacks,"Bergen, Travis",Travis,664157,Bergen,109,2020-08-31T00:00:00,"Bergen, Travis"
3,P,210,J.B. Bukauskas,North Carolina,0,,73,,Jacob,R,...,ARI,R,Arizona Diamondbacks,"Bukauskas, J.B.",J.B.,656266,Bukauskas,109,2020-11-20T00:00:00,"Bukauskas, J.B."
4,P,255,Madison Bumgarner,,4,N,40,,Madison,R,...,ARI,L,Arizona Diamondbacks,"Bumgarner, Madison",Madison,518516,Bumgarner,109,2019-12-17T00:00:00,"Bumgarner, Madison"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1188,P,235,Stephen Strasburg,San Diego State,5,N,37,,Stephen,R,...,WSH,R,Washington Nationals,"Strasburg, Stephen",Stephen,544931,Strasburg,120,2019-12-09T00:00:00,"Strasburg, Stephen"
1189,P,211,Wander Suero,,4,N,51,,Wander,R,...,WSH,R,Washington Nationals,"Suero, Wander",Wander,593833,Suero,120,2017-11-03T00:00:00,"Suero, Wander"
1190,SS,185,Trea Turner,North Carolina State,2,N,7,,Trea,R,...,WSH,R,Washington Nationals,"Turner, Trea",Trea,607208,Turner,120,2015-08-21T00:00:00,"Turner, Trea"
1191,P,210,Austin Voth,Washington,2,N,50,,Austin,R,...,WSH,R,Washington Nationals,"Voth, Austin",Austin,608723,Voth,120,2016-11-18T00:00:00,"Voth, Austin"
1192,1B,215,Ryan Zimmerman,Virginia,3,,11,,Ryan,R,...,WSH,R,Washington Nationals,"Zimmerman, Ryan",Ryan,475582,Zimmerman,120,2021-01-23T00:00:00,"Zimmerman, Ryan"

In [35]:
players['height_in_inches'] = players.apply(lambda row: (int(row['height_feet'])*12) + int(row['height_inches']), axis=1)

In [36]:
players[['height_in_inches', 'height_feet', 'height_inches']]

      height_in_inches height_feet height_inches
0                   74           6             2
1                   75           6             3
2                   73           6             1
3                   72           6             0
4                   76           6             4
...                ...         ...           ...
1188                77           6             5
1189                76           6             4
1190                74           6             2
1191                74           6             2
1192                75           6             3

[1193 rows x 3 columns]

In [37]:
players.to_excel("players.xlsx", index=False)

In [46]:
def set_position(x):
    if x in ["7", "8", "9", "O"]:
        return 7
    elif x == "D":
        return 8
    else:
        return int(x)

In [47]:
players['modified_position'] = players['primary_position'].apply(set_position)

In [50]:
players[players.modified_position == 8]

,position_txt,weight,name_display_first_last,college,height_inches,starter_sw,jersey_number,end_date,name_first,bats,...,team_name,name_display_last_first,name_use,player_id,name_last,team_id,start_date,name_full,height_in_inches,modified_position
649,DH,230,Nelson Cruz,,2,,23,,Nelson,R,...,Minnesota Twins,"Cruz, Nelson",Nelson,443558,Cruz,142,2021-02-05T00:00:00,"Cruz, Nelson",74,8

In [51]:
players.to_excel("players_v2.xlsx", index=False)

In [199]:
df = pd.read_excel("data/players_v2.xls")

In [200]:
df.head()

,position_txt,weight,name_display_first_last,college,height_inches,starter_sw,jersey_number,end_date,name_first,bats,...,team_name,name_display_last_first,name_use,player_id,name_last,team_id,start_date,name_full,height_in_inches,modified_position
0,SS,200,Nick Ahmed,Connecticut,2,N,13.0,NaN,Nicholas,R,...,Arizona Diamondbacks,"Ahmed, Nick",Nick,605113,Ahmed,109,2014-06-29T00:00:00,"Ahmed, Nick",74,6
1,P,245,Jeremy Beasley,Clemson,3,N,59.0,NaN,Jeremy,R,...,Arizona Diamondbacks,"Beasley, Jeremy",Jeremy,676886,Beasley,109,2020-08-10T00:00:00,"Beasley, Jeremy",75,1
2,P,215,Travis Bergen,Kennesaw State,1,N,47.0,NaN,Travis,L,...,Arizona Diamondbacks,"Bergen, Travis",Travis,664157,Bergen,109,2020-08-31T00:00:00,"Bergen, Travis",73,1
3,P,210,J.B. Bukauskas,North Carolina,0,NaN,73.0,NaN,Jacob,R,...,Arizona Diamondbacks,"Bukauskas, J.B.",J.B.,656266,Bukauskas,109,2020-11-20T00:00:00,"Bukauskas, J.B.",72,1
4,P,255,Madison Bumgarner,NaN,4,N,40.0,NaN,Madison,R,...,Arizona Diamondbacks,"Bumgarner, Madison",Madison,518516,Bumgarner,109,2019-12-17T00:00:00,"Bumgarner, Madison",76,1

In [201]:
df.position_txt.unique()

array(['SS', 'P', 'RF', '3B', 'OF', 'C', 'LF', '2B', '1B', 'CF', 'DH'],
      dtype=object)

In [202]:
player_ids = df[df.position_txt.isin(["C", "1B", "2B", "3B", "SS", "OF", "LF", "CF", "RF", "DH"])]["player_id"].to_list()

In [203]:
len(player_ids)

525

In [108]:
response = requests.get("http://lookup-service-prod.mlb.com/json/named.sport_hitting_tm.bam?league_list_id='mlb'&game_type='R'&season='2020'&player_id='642165'")
j = response.json()
print(j)

if int(j['sport_hitting_tm']['queryResults']['totalSize']) > 0:
    print(f"found results {player}")
    hitting.append(j['sport_hitting_tm']['queryResults']['row'])

{'sport_hitting_tm': {'copyRight': ' Copyright 2021 MLB Advanced Media, L.P.  Use of any content on this page acknowledges agreement to the terms posted here http://gdx.mlb.com/components/copyright.txt  ', 'queryResults': {'created': '2021-02-15T13:15:11', 'totalSize': '2', 'row': [{'gidp': '0', 'sac': '0', 'np': '162', 'sport_code': 'mlb', 'hgnd': '1', 'tb': '6', 'gidp_opp': '5', 'sport_id': '1', 'bb': '3', 'avg': '.059', 'slg': '.176', 'team_full': 'Cincinnati Reds', 'ops': '.334', 'hbp': '1', 'league_full': 'National League', 'team_abbrev': 'CIN', 'so': '16', 'hfly': '0', 'wo': '0', 'league_id': '104', 'sf': '0', 'team_seq': '1', 'league': 'NL', 'hpop': '0', 'cs': '0', 'season': '2020', 'sb': '1', 'go_ao': '1.00', 'ppa': '4.26', 'player_id': '642165', 'ibb': '0', 'team_id': '113', 'roe': '0', 'go': '8', 'hr': '1', 'rbi': '1', 'babip': '.059', 'lob': '24', 'end_date': '2020-08-30T00:00:00', 'xbh': '2', 'league_short': 'National', 'g': '14', 'd': '1', 'sport': 'MLB', 'team_short': 'Cincinnati', 'tpa': '38', 'h': '2', 'obp': '.158', 'hldr': '1', 't': '0', 'ao': '8', 'r': '3', 'ab': '34'}, {'gidp': '0', 'sac': '0', 'np': '168', 'sport_code': 'mlb', 'hgnd': '0', 'tb': '12', 'gidp_opp': '8', 'sport_id': '1', 'bb': '4', 'avg': '.194', 'slg': '.333', 'team_full': 'Arizona Diamondbacks', 'ops': '.626', 'hbp': '1', 'league_full': 'National League', 'team_abbrev': 'ARI', 'so': '8', 'hfly': '1', 'wo': '0', 'league_id': '104', 'sf': '0', 'team_seq': '2', 'league': 'NL', 'hpop': '0', 'cs': '0', 'season': '2020', 'sb': '0', 'go_ao': '1.10', 'ppa': '4.10', 'player_id': '642165', 'ibb': '0', 'team_id': '109', 'roe': '1', 'go': '11', 'hr': '1', 'rbi': '5', 'babip': '.222', 'lob': '20', 'end_date': '2021-02-15T00:00:00', 'xbh': '3', 'league_short': 'National', 'g': '12', 'd': '2', 'sport': 'MLB', 'team_short': 'Arizona', 'tpa': '41', 'h': '7', 'obp': '.293', 'hldr': '6', 't': '0', 'ao': '10', 'r': '6', 'ab': '36'}]}}}
found results 642165

In [122]:
df_hitting = pd.DataFrame.from_dict(hitting)

In [123]:
df_hitting

                                                   0
0  {"player_id": 605113, "bb": "18", "avg": ".266...
1  {"player_id": 594777, "bb": "28", "avg": ".226...
2  {"player_id": 500871, "bb": "15", "avg": ".212...
3  {"player_id": 608348, "bb": "6", "avg": ".221"...
4  {"player_id": 641796, "bb": "8", "avg": ".290"...
5  {"player_id": 606466, "bb": "7", "avg": ".287"...

In [204]:
def parseFloat(val):
    try:
        return float(val)
    except:
        return 0.000

In [205]:
hitting = []
total_players = len(player_ids)
player_count = 1
for player in player_ids:
    print(player)
    data = {}
    response = requests.get(f"http://lookup-service-prod.mlb.com/json/named.sport_hitting_tm.bam?league_list_id='mlb'&game_type='R'&season='2019'&player_id='{player}'")
    j = response.json()
    if int(j['sport_hitting_tm']['queryResults']['totalSize']) > 0:
        print(f"found results {player}")
        if int(j['sport_hitting_tm']['queryResults']['totalSize']) > 1:
            for i in range(int(j['sport_hitting_tm']['queryResults']['totalSize'])):
                print(f"parsing record by index {i}")
                data['player_id'] = player
                data['bb'] = data.get('bb', 0) + int(j['sport_hitting_tm']['queryResults']['row'][i]['bb'])
                data['avg'] = data.get('avg', 0.000) + parseFloat(j['sport_hitting_tm']['queryResults']['row'][i]['avg'])
                data['slg'] = data.get('slg', 0.000) + parseFloat(j['sport_hitting_tm']['queryResults']['row'][i]['slg'])
                data['ops'] = data.get('ops', 0.000) + parseFloat(j['sport_hitting_tm']['queryResults']['row'][i]['ops'])
                data['cs'] = data.get('cs', 0) + int(j['sport_hitting_tm']['queryResults']['row'][i]['cs'])
                data['sb'] = data.get('sb', 0) + int(j['sport_hitting_tm']['queryResults']['row'][i]['sb'])
                data['hr'] = data.get('hr', 0) + int(j['sport_hitting_tm']['queryResults']['row'][i]['hr'])
                data['rbi'] = data.get('rbi', 0) + int(j['sport_hitting_tm']['queryResults']['row'][i]['rbi'])
                data['lob'] = data.get('lob', 0) + int(j['sport_hitting_tm']['queryResults']['row'][i]['lob'])
                data['xbh'] = data.get('xbh', 0) + int(j['sport_hitting_tm']['queryResults']['row'][i]['xbh'])
                data['obp'] = data.get('obp', 0.000) + parseFloat(j['sport_hitting_tm']['queryResults']['row'][i]['obp'])
                data['h'] = data.get('h', 0) + int(j['sport_hitting_tm']['queryResults']['row'][i]['h'])
                data['r'] = data.get('r',0) + int(j['sport_hitting_tm']['queryResults']['row'][i]['r'])
                data['ab'] = data.get('ab', 0) + int(j['sport_hitting_tm']['queryResults']['row'][i]['ab'])
                data['so'] = data.get('so', 0) + int(j['sport_hitting_tm']['queryResults']['row'][i]['so'])
                data['babip'] = data.get('babip', 0.000) + parseFloat(j['sport_hitting_tm']['queryResults']['row'][i]['babip'])
            
            cnt = i + 1
            print(f"calculating averaged based on count: {cnt}")
            data['slg'] = data.get('slg') / cnt
            data['ops'] = data.get('ops') / cnt
            data['avg'] = data.get('avg') / cnt
            data['obp'] = data.get('obp') / cnt
            data['babip'] = data.get('babip') / cnt
            hitting.append(data)
        else: 
            data['player_id'] = player
            data['bb'] = int(j['sport_hitting_tm']['queryResults']['row']['bb'])
            data['avg'] = parseFloat(j['sport_hitting_tm']['queryResults']['row']['avg'])
            data['slg'] = parseFloat(j['sport_hitting_tm']['queryResults']['row']['slg'])
            data['ops'] = parseFloat(j['sport_hitting_tm']['queryResults']['row']['ops'])
            data['cs'] = int(j['sport_hitting_tm']['queryResults']['row']['cs'])
            data['sb'] = int(j['sport_hitting_tm']['queryResults']['row']['sb'])
            data['hr'] = int(j['sport_hitting_tm']['queryResults']['row']['hr'])
            data['rbi'] = int(j['sport_hitting_tm']['queryResults']['row']['rbi'])
            data['lob'] = int(j['sport_hitting_tm']['queryResults']['row']['lob'])
            data['xbh'] = int(j['sport_hitting_tm']['queryResults']['row']['xbh'])
            data['obp'] = parseFloat(j['sport_hitting_tm']['queryResults']['row']['obp'])
            data['h'] = int(j['sport_hitting_tm']['queryResults']['row']['h'])
            data['r'] = int(j['sport_hitting_tm']['queryResults']['row']['r'])
            data['ab'] = int(j['sport_hitting_tm']['queryResults']['row']['ab'])
            data['so'] = int(j['sport_hitting_tm']['queryResults']['row']['so'])
            data['babip'] = parseFloat(j['sport_hitting_tm']['queryResults']['row']['babip'])
            hitting.append(data)
    print(f"finished search {player_count} of {total_players}")
    player_count = player_count + 1

605113
found results 605113
finished search 1 of 525
594777
found results 594777
finished search 2 of 525
500871
found results 500871
finished search 3 of 525
656413
finished search 4 of 525
608348
found results 608348
finished search 5 of 525
641796
found results 641796
finished search 6 of 525
606466
found results 606466
finished search 7 of 525
621500
finished search 8 of 525
444482
found results 444482
finished search 9 of 525
672695
finished search 10 of 525
668942
found results 668942
finished search 11 of 525
656976
finished search 12 of 525
642165
found results 642165
finished search 13 of 525
662139
finished search 14 of 525
519390
found results 519390
finished search 15 of 525
572233
found results 572233
finished search 16 of 525
670370
finished search 17 of 525
660670
found results 660670
finished search 18 of 525
645277
found results 645277
finished search 19 of 525
501659
found results 501659
finished search 20 of 525
622666
found results 622666
finished search 21 of 525
661388
finished search 22 of 525
518595
found results 518595
parsing record by index 0
parsing record by index 1
parsing record by index 2
calculating averaged based on count: 3
finished search 23 of 525
641513
found results 641513
finished search 24 of 525
518692
found results 518692
finished search 25 of 525
542255
found results 542255
finished search 26 of 525
656577
found results 656577
finished search 27 of 525
608686
found results 608686
finished search 28 of 525
542303
found results 542303
finished search 29 of 525
665506
finished search 30 of 525
663586
found results 663586
finished search 31 of 525
621020
found results 621020
finished search 32 of 525
676625
finished search 33 of 525
448801
found results 448801
finished search 34 of 525
666783
finished search 35 of 525
520471
found results 520471
parsing record by index 0
parsing record by index 1
calculating averaged based on count: 2
finished search 36 of 525
669720
found results 669720
finished search 37 of 525
663330
finished search 38 of 525
641820
found results 641820
finished search 39 of 525
621006
found results 621006
finished search 40 of 525
663630
finished search 41 of 525
663624
finished search 42 of 525
656775
found results 656775
finished search 43 of 525
663527
finished search 44 of 525
547004
found results 547004
finished search 45 of 525
570560
found results 570560
finished search 46 of 525
623993
found results 623993
finished search 47 of 525
600474
found results 600474
finished search 48 of 525
642082
found results 642082
finished search 49 of 525
621466
found results 621466
finished search 50 of 525
602104
finished search 51 of 525
642162
found results 642162
finished search 52 of 525
660620
finished search 53 of 525
624414
found results 624414
finished search 54 of 525
593428
found results 593428
finished search 55 of 525
656308
found results 656308
finished search 56 of 525
614173
found results 614173
finished search 57 of 525
666915
finished search 58 of 525
646240
found results 646240
finished search 59 of 525
571771
found results 571771
finished search 60 of 525
502110
found results 502110
finished search 61 of 525
608700
found results 608700
finished search 62 of 525
668888
finished search 63 of 525
592669
found results 592669
finished search 64 of 525
671271
finished search 65 of 525
543877
found results 543877
finished search 66 of 525
657077
found results 657077
finished search 67 of 525
657129
finished search 68 of 525
657136
finished search 69 of 525
642727
finished search 70 of 525
665804
finished search 71 of 525
595879
found results 595879
finished search 72 of 525
623520
found results 623520
finished search 73 of 525
592178
found results 592178
finished search 74 of 525
575929
found results 575929
finished search 75 of 525
640447
found results 640447
finished search 76 of 525
664023
found results 664023
finished search 77 of 525
518792
found results 518792
finished search 78 of 525
663538
found results 663538
finished search 79 of 525
666624
finished search 80 of 525
592626
found results 592626
finished search 81 of 525
519203
found results 519203
finished search 82 of 525
519222
found results 519222
finished search 83 of 525
545121
found results 545121
finished search 84 of 525
547989
found results 547989
finished search 85 of 525
650520
finished search 86 of 525
641313
found results 641313
finished search 87 of 525
669394
finished search 88 of 525
641470
found results 641470
finished search 89 of 525
594809
found results 594809
finished search 90 of 525
641553
found results 641553
finished search 91 of 525
544725
found results 544725
finished search 92 of 525
670768
finished search 93 of 525
518735
found results 518735
finished search 94 of 525
650391
found results 650391
finished search 95 of 525
663611
finished search 96 of 525
664901
found results 664901
finished search 97 of 525
606213
finished search 98 of 525
660162
found results 660162
finished search 99 of 525
673357
finished search 100 of 525
666164
finished search 101 of 525
657757
finished search 102 of 525
664874
found results 664874
finished search 103 of 525
673451
finished search 104 of 525
606157
found results 606157
finished search 105 of 525
571466
found results 571466
finished search 106 of 525
607468
found results 607468
finished search 107 of 525
592206
found results 592206
parsing record by index 0
parsing record by index 1
calculating averaged based on count: 2
finished search 108 of 525
571657
found results 571657
finished search 109 of 525
676480
finished search 110 of 525
620453
found results 620453
finished search 111 of 525
595981
found results 595981
finished search 112 of 525
664060
finished search 113 of 525
519058
found results 519058
finished search 114 of 525
592622
finished search 115 of 525
621011
finished search 116 of 525
669222
found results 669222
finished search 117 of 525
663886
finished search 118 of 525
553993
found results 553993
finished search 119 of 525
458015
found results 458015
finished search 120 of 525
608385
found results 608385
finished search 121 of 525
672356
finished search 122 of 525
641343
found results 641343
finished search 123 of 525
656252
found results 656252
finished search 124 of 525
644374
found results 644374
finished search 125 of 525
676391
finished search 126 of 525
665926
finished search 127 of 525
595978
found results 595978
finished search 128 of 525
514917
found results 514917
finished search 129 of 525
669288
finished search 130 of 525
666134
finished search 131 of 525
656669
found results 656669
finished search 132 of 525
640458
found results 640458
finished search 133 of 525
647304
found results 647304
finished search 134 of 525
547379
found results 547379
finished search 135 of 525
608070
found results 608070
finished search 136 of 525
614177
found results 614177
parsing record by index 0
parsing record by index 1
calculating averaged based on count: 2
finished search 137 of 525
642708
found results 642708
finished search 138 of 525
592696
found results 592696
finished search 139 of 525
607333
found results 607333
parsing record by index 0
parsing record by index 1
calculating averaged based on count: 2
finished search 140 of 525
605548
found results 605548
finished search 141 of 525
453568
found results 453568
finished search 142 of 525
641385
finished search 143 of 525
602074
found results 602074
finished search 144 of 525
435622
found results 435622
finished search 145 of 525
553869
found results 553869
finished search 146 of 525
658069
found results 658069
finished search 147 of 525
641658
found results 641658
finished search 148 of 525
656541
found results 656541
finished search 149 of 525
641857
found results 641857
finished search 150 of 525
660707
finished search 151 of 525
624513
found results 624513
finished search 152 of 525
663898
found results 663898
finished search 153 of 525
596115
found results 596115
finished search 154 of 525
606132
found results 606132
finished search 155 of 525
666213
finished search 156 of 525
668731
finished search 157 of 525
408234
found results 408234
finished search 158 of 525
663662
finished search 159 of 525
600869
found results 600869
finished search 160 of 525
605612
found results 605612
finished search 161 of 525
650489
found results 650489
finished search 162 of 525
592348

found results 592348
finished search 163 of 525
606988
found results 606988
finished search 164 of 525
543257
found results 543257
finished search 165 of 525
656537
finished search 166 of 525
592444
found results 592444
finished search 167 of 525
608577
found results 608577
finished search 168 of 525
670623
finished search 169 of 525
467092
found results 467092
finished search 170 of 525
622682
found results 622682
finished search 171 of 525
668670
found results 668670
finished search 172 of 525
570731
found results 570731
finished search 173 of 525
670097
finished search 174 of 525
621514
found results 621514
finished search 175 of 525
514888
found results 514888
finished search 176 of 525
670541
found results 670541
finished search 177 of 525
488726
found results 488726
finished search 178 of 525
608324
found results 608324
finished search 179 of 525
488771
found results 488771
finished search 180 of 525
621043
found results 621043
finished search 181 of 525
649557
found results 649557
finished search 182 of 525
493329
found results 493329
finished search 183 of 525
622100
finished search 184 of 525
455117
found results 455117
parsing record by index 0
parsing record by index 1
parsing record by index 2
calculating averaged based on count: 3
finished search 185 of 525
676801
finished search 186 of 525
671265
finished search 187 of 525
664702
found results 664702
finished search 188 of 525
596117
found results 596117
finished search 189 of 525
647351
found results 647351
finished search 190 of 525
663656
found results 663656
finished search 191 of 525
643217
found results 643217
finished search 192 of 525
641531
found results 641531
finished search 193 of 525
665650
finished search 194 of 525
595956
found results 595956
finished search 195 of 525
642721
found results 642721
finished search 196 of 525
670084
finished search 197 of 525
670032
found results 670032
finished search 198 of 525
643436
found results 643436
finished search 199 of 525
593160
found results 593160
finished search 200 of 525
609275
found results 609275
finished search 201 of 525
656811
found results 656811
finished search 202 of 525
658668
finished search 203 of 525
521692
finished search 204 of 525
665861
finished search 205 of 525
467793
found results 467793
finished search 206 of 525
624585
found results 624585
finished search 207 of 525
572191
found results 572191
finished search 208 of 525
650619
found results 650619
finished search 209 of 525
666176
finished search 210 of 525
620439
found results 620439
finished search 211 of 525
621532
found results 621532
parsing record by index 0
parsing record by index 1
calculating averaged based on count: 2
finished search 212 of 525
664058
found results 664058
finished search 213 of 525
451594
found results 451594
finished search 214 of 525
596825
found results 596825
finished search 215 of 525
578428
found results 578428
finished search 216 of 525
669016
finished search 217 of 525
405395
found results 405395
finished search 218 of 525
543685
found results 543685
finished search 219 of 525
650859
found results 650859
finished search 220 of 525
545358
found results 545358
parsing record by index 0
parsing record by index 1
calculating averaged based on count: 2
finished search 221 of 525
435559
found results 435559
finished search 222 of 525
642136
found results 642136
finished search 223 of 525
545361
found results 545361
finished search 224 of 525
457708
found results 457708
finished search 225 of 525
665120
found results 665120
finished search 226 of 525
621493
found results 621493
finished search 227 of 525
605131
found results 605131
finished search 228 of 525
607461
found results 607461
finished search 229 of 525
641355
found results 641355
finished search 230 of 525
605141
found results 605141
finished search 231 of 525
666158
found results 666158
finished search 232 of 525
656716
finished search 233 of 525
571970
found results 571970
finished search 234 of 525
641914
found results 641914
finished search 235 of 525
656847
finished search 236 of 525
572041
found results 572041
finished search 237 of 525
670042
finished search 238 of 525
676646
finished search 239 of 525
621458
found results 621458
finished search 240 of 525
660688
finished search 241 of 525
608369
found results 608369
finished search 242 of 525
669257
found results 669257
finished search 243 of 525
621035
found results 621035
finished search 244 of 525
542583
found results 542583
parsing record by index 0
parsing record by index 1
calculating averaged based on count: 2
finished search 245 of 525
595751
found results 595751
finished search 246 of 525
605119
found results 605119
finished search 247 of 525
542932
found results 542932
finished search 248 of 525
621446
found results 621446
finished search 249 of 525
665862
finished search 250 of 525
643265
found results 643265
finished search 251 of 525
672701
finished search 252 of 525
656371
found results 656371
finished search 253 of 525
650331
finished search 254 of 525
572816
found results 572816
parsing record by index 0
parsing record by index 1
calculating averaged based on count: 2
finished search 255 of 525
666464
finished search 256 of 525
656509
finished search 257 of 525
516782
found results 516782
finished search 258 of 525
623912
found results 623912
finished search 259 of 525
500743
found results 500743
finished search 260 of 525
660821
finished search 261 of 525
642423
found results 642423
finished search 262 of 525
595453
found results 595453
finished search 263 of 525
606115
found results 606115
finished search 264 of 525
456715
found results 456715
finished search 265 of 525
666128
finished search 266 of 525
541645
found results 541645
finished search 267 of 525
669374
found results 669374
finished search 268 of 525
621005
found results 621005
finished search 269 of 525
571912
found results 571912
finished search 270 of 525
664029
finished search 271 of 525
641856
found results 641856
finished search 272 of 525
553882
found results 553882
finished search 273 of 525
641924
found results 641924
finished search 274 of 525
444489
found results 444489
finished search 275 of 525
641999
finished search 276 of 525
621002
found results 621002
finished search 277 of 525
621438
found results 621438
finished search 278 of 525
649966
found results 649966
finished search 279 of 525
596129
found results 596129
finished search 280 of 525
543939
found results 543939
finished search 281 of 525
592885
found results 592885
finished search 282 of 525
650333
found results 650333
finished search 283 of 525
553902
found results 553902
finished search 284 of 525
663905
finished search 285 of 525
621439
found results 621439
finished search 286 of 525
595909
found results 595909
finished search 287 of 525
665482
finished search 288 of 525
443558
found results 443558
finished search 289 of 525
518626
found results 518626
finished search 290 of 525
664247
found results 664247
finished search 291 of 525
641598
found results 641598
finished search 292 of 525
624503
finished search 293 of 525
680777
finished search 294 of 525
596146
found results 596146
finished search 295 of 525
666135
finished search 296 of 525
593871
found results 593871
finished search 297 of 525
667670
finished search 298 of 525
666163
finished search 299 of 525
593934
found results 593934
finished search 300 of 525
592743
found results 592743
finished search 301 of 525
546991
found results 546991
finished search 302 of 525
624413
found results 624413
finished search 303 of 525
624424
found results 624424
finished search 304 of 525
605204
found results 605204
finished search 305 of 525
641645
found results 641645
finished search 306 of 525
628338
found results 628338
finished search 307 of 525
666137
finished search 308 of 525
596019
found results 596019
finished search 309 of 525
500874
found results 500874
finished search 310 of 525
664850
finished search 311 of 525
543510
found results 543510
finished search 312 of 525
643446
found results 643446
finished search 313 of 525
621512
found results 621512
finished search 314 of 525
607043
found results 607043
finished search 315 of 525
642086
found results 642086
finished search 316 of 525
542340

found results 542340
finished search 317 of 525
656185
found results 656185
finished search 318 of 525
609280
found results 609280
finished search 319 of 525
642731
found results 642731
finished search 320 of 525
664314
finished search 321 of 525
645801
found results 645801
finished search 322 of 525
640449
found results 640449
finished search 323 of 525
543305
found results 543305
finished search 324 of 525
543309
found results 543309
finished search 325 of 525
592450
found results 592450
finished search 326 of 525
518934
found results 518934
finished search 327 of 525
672724
finished search 328 of 525
596142
found results 596142
finished search 329 of 525
519317
found results 519317
finished search 330 of 525
643565
found results 643565
finished search 331 of 525
650402
found results 650402
finished search 332 of 525
570482
found results 570482
finished search 333 of 525
572228
found results 572228
finished search 334 of 525
642180
found results 642180
finished search 335 of 525
664119
found results 664119
finished search 336 of 525
462101
found results 462101
finished search 337 of 525
642456
finished search 338 of 525
621450
found results 621450
finished search 339 of 525
664913
found results 664913
finished search 340 of 525
592192
found results 592192
finished search 341 of 525
656305
found results 656305
finished search 342 of 525
656364
finished search 343 of 525
641583
finished search 344 of 525
605244
found results 605244
finished search 345 of 525
643393
found results 643393
parsing record by index 0
parsing record by index 1
calculating averaged based on count: 2
finished search 346 of 525
657656
found results 657656
finished search 347 of 525
605353
finished search 348 of 525
669221
found results 669221
finished search 349 of 525
621566
found results 621566
finished search 350 of 525
644337
finished search 351 of 525
640461
found results 640461
finished search 352 of 525
572039
found results 572039
finished search 353 of 525
664789
finished search 354 of 525
664761
finished search 355 of 525
641453
finished search 356 of 525
544369
found results 544369
finished search 357 of 525
547180
found results 547180
finished search 358 of 525
656514
found results 656514
finished search 359 of 525
656555
found results 656555
finished search 360 of 525
664068
found results 664068
finished search 361 of 525
595284
found results 595284
finished search 362 of 525
665561
finished search 363 of 525
665155
finished search 364 of 525
457705
found results 457705
finished search 365 of 525
666160
finished search 366 of 525
665922
finished search 367 of 525
596451
found results 596451
finished search 368 of 525
592663
found results 592663
finished search 369 of 525
516416
found results 516416
finished search 370 of 525
546990
found results 546990
finished search 371 of 525
666801
finished search 372 of 525
665833
finished search 373 of 525
595943
finished search 374 of 525
624428
found results 624428
finished search 375 of 525
570481
found results 570481
finished search 376 of 525
663647
finished search 377 of 525
592567
found results 592567
finished search 378 of 525
621028
found results 621028
finished search 379 of 525
666931
finished search 380 of 525
605421
found results 605421
finished search 381 of 525
570256
found results 570256
finished search 382 of 525
668804
found results 668804
finished search 383 of 525
607732
found results 607732
finished search 384 of 525
657061
found results 657061
finished search 385 of 525
669134
finished search 386 of 525
605170
found results 605170
finished search 387 of 525
630105
finished search 388 of 525
663757
found results 663757
finished search 389 of 525
543333
found results 543333
finished search 390 of 525
673490
finished search 391 of 525
592518
found results 592518
finished search 392 of 525
672779
finished search 393 of 525
622761
finished search 394 of 525
571976
found results 571976
finished search 395 of 525
543592
found results 543592
finished search 396 of 525
657434
found results 657434
finished search 397 of 525
671250
finished search 398 of 525
502054
found results 502054
finished search 399 of 525
595777
found results 595777
finished search 400 of 525
665487
found results 665487
finished search 401 of 525
663698
finished search 402 of 525
474832
found results 474832
finished search 403 of 525
672744
finished search 404 of 525
592200
found results 592200
finished search 405 of 525
543063
found results 543063
finished search 406 of 525
664041
found results 664041
finished search 407 of 525
543105
found results 543105
parsing record by index 0
parsing record by index 1
calculating averaged based on count: 2
finished search 408 of 525
643289
found results 643289
parsing record by index 0
parsing record by index 1
calculating averaged based on count: 2
finished search 409 of 525
621453
found results 621453
finished search 410 of 525
527038
found results 527038
finished search 411 of 525
600303
found results 600303
finished search 412 of 525
446334
found results 446334
finished search 413 of 525
457763
found results 457763
finished search 414 of 525
573131
finished search 415 of 525
596103
found results 596103
finished search 416 of 525
456781
found results 456781
finished search 417 of 525
644433
finished search 418 of 525
613564
finished search 419 of 525
664774
found results 664774
finished search 420 of 525
573262
found results 573262
finished search 421 of 525
623323
found results 623323
finished search 422 of 525
641487
found results 641487
finished search 423 of 525
641584
found results 641584
finished search 424 of 525
664034
found results 664034
finished search 425 of 525
664059
found results 664059
finished search 426 of 525
571745
found results 571745
finished search 427 of 525
641786
found results 641786
finished search 428 of 525
643418
found results 643418
finished search 429 of 525
592530
finished search 430 of 525
664238
found results 664238
finished search 431 of 525
608596
found results 608596
finished search 432 of 525
572122
found results 572122
finished search 433 of 525
620443
found results 620443
finished search 434 of 525
666211
finished search 435 of 525
622268
found results 622268
finished search 436 of 525
657108
finished search 437 of 525
571448
found results 571448
finished search 438 of 525
664056
found results 664056
finished search 439 of 525
666185
finished search 440 of 525
572761
found results 572761
finished search 441 of 525
621573
found results 621573
finished search 442 of 525
657557
found results 657557
finished search 443 of 525
669242
found results 669242
finished search 444 of 525
502671
found results 502671
finished search 445 of 525
671056
finished search 446 of 525
668800
found results 668800
finished search 447 of 525
425877
found results 425877
finished search 448 of 525
596056
finished search 449 of 525
641933
found results 641933
finished search 450 of 525
645305
finished search 451 of 525
624641
found results 624641
finished search 452 of 525
657041
found results 657041
finished search 453 of 525
642211
finished search 454 of 525
642715
found results 642715
finished search 455 of 525
668227
found results 668227
finished search 456 of 525
670712
found results 670712
finished search 457 of 525
660644
finished search 458 of 525
596847
found results 596847
finished search 459 of 525
650490
found results 650490
finished search 460 of 525
660613
finished search 461 of 525
595281
found results 595281
finished search 462 of 525
664040
found results 664040
finished search 463 of 525
666139
finished search 464 of 525
622534
found results 622534
finished search 465 of 525
640457
found results 640457
finished search 466 of 525
642336
found results 642336
finished search 467 of 525
656821
finished search 468 of 525
621433
found results 621433
finished search 469 of 525
660294
finished search 470 of 525
670764
finished search 471 of 525
621563
found results 621563
finished search 472 of 525
572287
found results 572287
finished search 473 of 525
665947
finished search 474 of 525
641432
found results 641432
finished search 475 of 525
621311
found results 621311
finished search 476 of 525
501981
found results 501981
finished search 477 of 525
608336
found results 608336
finished search 478 of 525
671272

finished search 479 of 525
608597
found results 608597
finished search 480 of 525
641680
finished search 481 of 525
669087
finished search 482 of 525
643396
found results 643396
finished search 483 of 525
663993
found results 663993
finished search 484 of 525
596059
found results 596059
finished search 485 of 525
669256
found results 669256
finished search 486 of 525
665750
finished search 487 of 525
660731
finished search 488 of 525
624431
found results 624431
finished search 489 of 525
642201
finished search 490 of 525
656180
finished search 491 of 525
666182
found results 666182
finished search 492 of 525
624415
found results 624415
finished search 493 of 525
641505
found results 641505
finished search 494 of 525
669289
finished search 495 of 525
545341
found results 545341
finished search 496 of 525
665489
found results 665489
finished search 497 of 525
666971
found results 666971
finished search 498 of 525
606192
found results 606192
finished search 499 of 525
643376
found results 643376
finished search 500 of 525
672386
finished search 501 of 525
672640
finished search 502 of 525
624512
found results 624512
finished search 503 of 525
672515
finished search 504 of 525
641943
finished search 505 of 525
543760
found results 543760
finished search 506 of 525
543807
found results 543807
finished search 507 of 525
642133
found results 642133
finished search 508 of 525
671276
finished search 509 of 525
488671
found results 488671
finished search 510 of 525
668663
found results 668663
finished search 511 of 525
605137
found results 605137
finished search 512 of 525
516770
found results 516770
finished search 513 of 525
671277
finished search 514 of 525
543228
found results 543228
finished search 515 of 525
543281
found results 543281
finished search 516 of 525
628450
finished search 517 of 525
666198
found results 666198
finished search 518 of 525
669738
found results 669738
finished search 519 of 525
645302
found results 645302
finished search 520 of 525
656941
found results 656941
finished search 521 of 525
665742
found results 665742
finished search 522 of 525
664057
found results 664057
finished search 523 of 525
607208
found results 607208
finished search 524 of 525
475582
found results 475582
finished search 525 of 525

In [207]:
hitting_df = pd.DataFrame(hitting)

In [208]:
hitting_df.head(20)

,player_id,bb,avg,slg,ops,cs,sb,hr,rbi,lob,xbh,obp,h,r,ab,so,babip
0,605113,52,0.254000,0.437,0.753,2,8,19,82,239,58,0.316,141,79,556,113,0.280000
1,594777,70,0.232000,0.467,0.792,1,4,33,74,245,63,0.325,128,92,552,162,0.265000
2,500871,50,0.269000,0.511,0.831,1,5,35,118,265,74,0.320,171,94,636,130,0.283000
3,608348,48,0.245000,0.478,0.826,0,0,18,47,141,37,0.348,77,46,314,79,0.271000
4,641796,14,0.250000,0.340,0.697,0,17,1,17,92,15,0.357,53,38,212,44,0.310000
5,606466,53,0.329000,0.592,0.981,2,10,32,92,192,77,0.389,187,97,569,86,0.342000
6,444482,35,0.275000,0.461,0.804,0,0,12,57,151,44,0.343,105,48,382,87,0.327000
7,668942,18,0.217000,0.312,0.624,2,4,2,16,67,9,0.312,30,17,138,41,0.295000
8,642165,29,0.237000,0.408,0.735,3,9,8,23,108,22,0.327,54,33,228,56,0.279000
9,519390,20,0.263000,0.490,0.804,1,3,10,40,119,36,0.314,67,30,255,66,0.311000
10,572233,67,0.259000,0.476,0.825,1,8,29,73,241,56,0.348,137,86,529,155,0.312000
11,660670,76,0.280000,0.518,0.883,9,37,41,101,196,65,0.365,175,127,626,188,0.337000
12,645277,54,0.295000,0.500,0.852,4,15,24,86,209,75,0.352,189,102,640,112,0.325000
13,501659,7,0.290000,0.548,0.969,0,0,1,4,18,5,0.421,9,11,31,8,0.364000
14,622666,15,0.233000,0.384,0.663,0,1,7,32,94,20,0.279,54,31,232,43,0.258000
15,518595,32,0.116667,0.182,0.343,1,0,16,69,150,32,0.161,88,52,351,85,0.135333
16,641513,14,0.225000,0.343,0.630,0,3,3,10,73,12,0.286,38,24,169,63,0.337000
17,518692,87,0.295000,0.549,0.938,3,6,38,121,210,74,0.389,176,113,597,127,0.318000
18,542255,26,0.246000,0.397,0.740,1,7,5,24,86,18,0.343,49,30,199,41,0.286000
19,656577,1,0.000000,0.000,0.133,0,0,0,0,14,0,0.133,0,0,13,5,0.000000

In [185]:
hitting_df[hitting_df.player_id == 545121]

,player_id,bb,avg,slg,ops,cs,sb,hr,rbi,lob,xbh,obp,h,r,ab,so,babip,pos
69,545121,2,0.199667,0.356667,0.577333,0,0,1,3,31,3,0.220667,10,6,51,10,0.212667,0.577333

In [209]:
hitting_df.to_csv("data/hitting.csv", index=False)